@inject AspMVCEcomerce.Service.PlanetService planetService

<h1>Các Hành Tinh Trong Hệ Mặt Trời</h1>

<div class="list-group">
    @foreach(var planet in planetService)
    {
        <a class="list-group-item list-group-item-action" asp-controller="Planet" asp-action="InfoPlanet" asp-route-id="@planet.Id">
            @planet.VnName - @planet.Name
        </a>
    }
</div>
